@media only screen and (max-width: 1080px) {
    body {
        margin: 0px;
    }

    @font-face {
        font-family: e-Ukraine-Medium;
        src: url(front/e-Ukraine-Medium.ttf);
    }

    div {
        font-family: e-Ukraine-Medium;
        display: flex;
    }

    .senior {
        width: 360px;
        height: 800px;
        background-image: url(Images/main.jpg);
    }

    .middle {
        width: 312px;
        height: 425px;
        margin: 146.7px 23.7px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e5f7e1;
        border-radius: 32px;
    }

    .junior_top {
        width: 280.7px;
        height: 71.7px;
        font-size: 20.7px;
    }

    .junior_middle {
        width: 276.7px;
        height: 202.7px;
    }

    .junior_bottom {
        width: 276.7px;
        height: 87.7px;
        border-top: 1.7px solid #c6e6bf;
        box-sizing: border-box;
    }

    .foto {
        width: 136px;
        height: 175px;
        border: 2px solid #baf9c4;
        background-image: url(Images/iam.jpg);
    }

    .infoteka {
        width: 124px;
        height: 178.7px;
        margin: 2px 0px 0px 12.7px;
        flex-direction: column;
    }


    .info_top, .info_middle, .info_bottom {
        width: 124px;
        font-size: 11.7px;
    }

    .info_top {
        height: 54.7px;
    }

    .info_middle {
        height: 38.7px;
    }

    .info_bottom {
        height: 85.3px;
    }

    .name {
        width: 242.7px;
        height: 83.7px;
        padding-top: 7.3px;
        font-size: 20px;
        line-height: 1.4;
    }

    .point {
        width: 28.3px;
        height: 28.3px;
        margin-top: 62.7px;
        background-image: url(Images/point.png);
    }
}


