body { 
  margin: 0; 
}

@font-face{
font-family: e-Ukraine-Medium;
src: url(e-Ukraine-Medium.ttf);
}

.main_div{
background: green;
width: 100%;
height: 100%;
position: absolute;
}


.scene {
  width: 80%;
  height: 100px;
  perspective: 5000px;
  

}

.card {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
}

.card__face--front {
  background: #e8f5e4; 
}

.card__face--back {
  background: #e8f5e4; 
    position: absolute;
  transform: rotateY(180deg);
  box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
