body { font-family: sans-serif; 
background-image: url(main.jpg);
}


.scene {
  width: 936px;
  height: 1270px;
  margin: 556px 72px;
  perspective: 5000px;
  border-radius: 32px;

}

.card {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
}

.card__face--front {
  background-image: url(sertifikado_front.jpg);
}

.card__face--back {
  background-image: url(sertifikado_back.jpg);
  transform: rotateY(180deg);
  box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
}