@media only screen and (max-width: 1080px) {
    body {
        margin: 0px;
    }

    @font-face {
        font-family: e-Ukraine-Medium;
        src: url(front/e-Ukraine-Medium.ttf);
    }

    div {
        font-family: e-Ukraine-Medium;
        display: flex;
    }

    .senior {
        width: 1080px;
        height: 2285px;
        background-image: url(images/main.jpg);
    }

    .middle {
        width: 936px;
        height: 1275px;
        margin: 440px 71px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e5f7e1;
        border-radius: 32px;
    }

    .junior_top {
        width: 842px;
        height: 215px;
        font-size: 62px;
    }

    .junior_middle {
        width: 830px;
        height: 608px;
    }

    .junior_bottom {
        width: 830px;
        height: 263px;
        border-top: 5px solid #c6e6bf;
        box-sizing: border-box;
    }

    .foto {
        width: 408px;
        height: 525px;
        border: 6px solid #baf9c4;
        background-image: url(images/iam.jpg);
    }

    .infoteka {
        width: 372px;
        height: 536px;
        margin: 6px 0px 0px 38px;
        flex-direction: column;
    }


    .info_top, .info_middle, .info_bottom {
        width: 372px;
        font-size: 35px;
    }

    .info_top {
        height: 164px;
    }

    .info_middle {
        height: 116px;
    }

    .info_bottom {
        height: 256px;
    }

    .name {
        width: 728px;
        height: 251px;
        padding-top: 22px;
        font-size: 60px;
        line-height: 1.4;
    }

    .point {
        width: 85px;
        height: 85px;
        margin-top: 188px;
        background-image: url(images/point.png);
    }
}


