body {
    margin: 0px;
}

@font-face{
    font-family: e-Ukraine-Medium;
    src: url(front/e-Ukraine-Medium.ttf);
}

div {
    font-family: e-Ukraine-Medium;
    display: flex;
}

.senior {
    width: 1080px;
    height: 2285px;
    background-image: url(sweet4maker.github.io/images/main.jpg);
}

.middle{
    width: 936px;
    height: 1275px;
    margin: 440px 71px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5f7e1;
    border-radius: 32px;
}

.junior_top{
    width: 830px;
    height: 216px;
    font-size: 62px;
}

.junior_middle{
    width: 830px;
    height: 608px;

}

.junior_bottom{
    width: 830px;
    height: 263px;
    border-top: 5px solid #c6e6bf;
    box-sizing: border-box;
}

.foto {
    width: 408px;
    height: 525px;
    border: 6px solid #baf9c4;
    background-image: url(images/iam.jpg);
}

.info{
    width: 372px;
    height: 500px;
    margin: 1px 0px 0px 38px;
    font-size: 35px;
}

.info_fullname{
    width: 728px;
    margin-top: 20px;
    font-size: 60px;
}

.point{
    width: 85px;
    height: 85px;
    margin-top: 150px;
    background-image: url(images/point.png);
}


