body { 
margin: 0; 
width: 280px;
height: 592px;
background: red;
}

@font-face{
font-family: e-Ukraine-Medium;
src: url(e-Ukraine-Medium.ttf);
}

.right_card {
  width: 3.6%;
  height: 49.02%;
  top: 22.98%;
  right: 0;
  background: #dff6da;
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.diia_logo{
  width: 38px;
  height: 38px;
  position: absolute;
  top: 2.03%;
  left: 6.43%;
}

.qr_logo{
width: 5.56%;
  height: 2.63%;
  position: absolute;
  top: 4.03%;
  right: 9.44%;
}

.menu_logo{
width: 4.44%;
  height: 2.63%;
  position: absolute;
  bottom: 4.55%;
  right: 9.91%;
}

.ms_logo {
width: 5%;
  height: 2.89%;
  position: absolute;
  bottom: 4.19%;
  right: 34.17%;
}

.scene {
  width: 86.66%;
  height: 55.67%;
  top: 19.34%;
  left: 6.67%;
  perspective: 1500px;
  position: absolute;
  border-radius: 2.5%;

}

.card {
  width: 100%;
  height: 100%;
   border-radius: 15px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow:  0px 32px 27px -18px rgba(50, 50, 50, 0.4);
   border-radius: 15px;
}

.card__face--front {
  background: #e8f5e4; 
}

.card__face--back {
  background: #e8f5e4; 
    position: absolute;
  transform: rotateY(180deg);
  box-shadow:  0px 32px 27px -18px rgba(50, 50, 50, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
