*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #333;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    cursor: pointer;
    width: 936px;
    height: 1270px;
}

.front,
.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front{
    transform: perspective(1270px) rotateY(0deg);
    background-color: red;
}

.back{
    transform: perspective(1270px) rotateY(180deg);
    background-color: #f1f1f1;
}

.card:hover > .front{
    transform: perspective(1270px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(1270px) rotateY(0deg);
}