body { 
margin: 0; 
width: 100%;
height: 100%;
background: #c0ebb5;
}

@font-face{
font-family: e-Ukraine-Medium;
src: url(e-Ukraine-Medium.ttf);
}

.right_card {
  width: 3.6%;
  height: 49.02%;
  top: 22.98%;
  right: 0;
  background: #dff6da;
  position: absolute;
  border-top-left-radius: 2.5%;
  border-bottom-left-radius: 2.5%;
}



.scene {
  width: 86.66%;
  height: 55.67%;
  top: 19.34%;
  left: 6.67%;
  perspective: 1500px;
  position: absolute;
  border-radius: 2.5%;

}

.card {
  width: 100%;
  height: 100%;
   border-radius: 2.5%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 20px 20px -15px rgba(50, 50, 50, 0.7);
   border-radius: 2.5%;
}

.card__face--front {
  background: #e8f5e4; 
}

.card__face--back {
  background: #e8f5e4; 
    position: absolute;
  transform: rotateY(180deg);
  box-shadow: 0px 20px 20px -15px rgba(50, 50, 50, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

