body { 
  margin: 0; 
  background-color: green;
  width: 100%;
height: 559.6px;
}

@font-face{
font-family: e-Ukraine-Medium;
src: url(e-Ukraine-Medium.ttf);
}

.foto {
  border: 6px solid #baf9c4;
  top: 310px;
  left: 48px;
  position: absolute;
}




.scene {
  width: 80%;
  height: 100px;
  margin: 10% 10%;
  perspective: 5000px;
  border-radius: 32px;

}

.card {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
}

.card__face--front {
  background: #e8f5e4; 
}

.headtext{
  margin-top: 82px;
  margin-left: 48px;
  width: 100%;
  font-family: e-Ukraine-Medium;
  font-size: 62px;  
}

.headtext_2{
  margin-top: 20px;
  font-family: e-Ukraine-Medium;
  font-size: 60px;  
}

.point{
   top: 150px;
   right: 10px;
   position: absolute;
}

.junior_midle{
  top: 317px;
  left: 517px;
  width: 350px;
  height: 500px;
  font-family: e-Ukraine-Medium;
  font-size: 35px;
  position: absolute;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
  width: 830px;
  height: 320px;
  top: 950px;
  left: 48px;
  position: absolute;
  border-top: 5px solid #c6e6bf;
  box-sizing: border-box;
}

.card__face--back {
  background: #e8f5e4; 
    position: absolute;
  transform: rotateY(180deg);
  box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sertifigado {
  width: 700px;
  height: 700px;

}

