    body {
        margin: 0px;
        width: 1080px;
        height: 2285px;
        background-image: url(Images/main.jpg);
    }

    @font-face {
        font-family: e-Ukraine-Medium;
        src: url(front/e-Ukraine-Medium.ttf);
    }

    div {
        font-family: e-Ukraine-Medium;
        display: flex;
    }

    .scene {
        width: 936px;
        height: 1275px;
        margin: 440px 71px;
        perspective: 5000px;
        border-radius: 32px;
    }

    .card {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        background-color: #e8f5e4;
        transform-style: preserve-3d;
        transition: transform 0.7s;
        box-shadow: 0px 90px 80px -70px rgba(50, 50, 50, 0.65);
    }

    .card__face {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        backface-visibility: hidden;
        background: r#e8f5e4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card__face {
        -webkit-backface-visibility: hidden;
    }

    .card__face--front {
        background: r#e8f5e4;
    }

    .card.is-flipped {
        transform: rotateY(180deg);
    }

    .junior_top {
        width: 842px;
        height: 215px;
        font-size: 62px;
    }

    .junior_middle {
        width: 830px;
        height: 608px;
    }

    .junior_bottom {
        width: 830px;
        height: 263px;
        border-top: 5px solid #c6e6bf;
        box-sizing: border-box;
    }

    .foto {
        width: 408px;
        height: 525px;
        border: 6px solid #baf9c4;
        background-image: url(Images/iam.jpg);
    }

    .infoteka {
        width: 372px;
        height: 536px;
        margin: 6px 0px 0px 38px;
        flex-direction: column;
    }

    .info_top, .info_middle, .info_bottom {
        width: 372px;
        font-size: 35px;
    }

    .info_top {
        height: 164px;
    }

    .info_middle {
        height: 116px;
    }

    .info_bottom {
        height: 256px;
    }

    .name {
        width: 728px;
        height: 251px;
        padding-top: 22px;
        font-size: 60px;
        line-height: 1.4;
    }

    .point {
        width: 85px;
        height: 85px;
        margin-top: 188px;
        background-image: url(Images/point.png);
    }

    .card__face--back {
        transform: rotateY(180deg);
        display: flex;
        position: absolute;
    }

    .sertifigado {
        width: 700px;
        height: 700px;
    }


